obj.dbg/
obj/
.libs/
.vscode/
.pc/
autom4te.cache/
GNUmakefile
include/cif++/Config.hpp
tools/symop-map-generator
test/unit-test
libcif++.pc
libcif++.la
config.status
config.log
libtool
rsrc/lib-version.txt
version-info*.txt
src/revision.hpp