build/
.vscode/
.vs/
tools/update-libcifpp-data
rsrc/components.cif*
CMakeSettings.json
msvc/
src/revision.hpp
test/test-create_sugar_?.cif
Testing/
include/cif++/exports.hpp
docs/api
docs/conf.py
build_ci/
data/components.cif
